/*Generics*/

body{
    background-color: #fff;
    margin: 0;
}


/*Header*/
header{
    height: 100px;
 background-color: #4fa1ff ;
 background-image: url("../img/pattern.png");
 background-size:20% ;
}

#booleaner{
    width: 15%;
    padding: 30px 0 0;
    margin-left: 5px;
}

/*Title*/
h1{
    font-size: 2.5rem;
    margin-bottom: 0;
}

h3{
    color: grey;
}
.blue{
    color: #20aae6;
}
time{
    font-size: 1rem;
}

/*Article*/
